<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="rest-assured-tests" >
        <classes>
            <class name="tst.sample.restassured.testcases.BasicHttpValidations"/>
        </classes>
    </test>
    <test verbose="2"  name="selenium-tests">
        <classes>
            <class name="tst.sample.selenium.testcases.BasicSeleniumValidations"/>
        </classes>
    </test>
</suite>